*{
	margin:0px;
	padding:0px;
	color: white;
	font-size: 20px;
}
body{
	background-image:url("garage-943249_1920.jpg");
	background-attachment: fixed;
	background-size: cover;
	font-family:new time roman;
}
.btn btn-success{
	background-color: orange;
	margin-top: 80px;
	margin-left: 150px;
	width: 180px;
	font-size: 19px;
	border-radius: 1000px;
}
div {
	background: rgba(0, 0, 0, 0.4);
	box-shadow: -1px 1px 60px 100px black inset;
}
